sample-tracking-api/database/__pycache__/models.cpython-37.pyc
.DS_Store
.idea/
Docs/
*.pyc
sample-tracking-api/.DS_Store
sample-tracking-api/.idea/
sample-tracking-api/app/__pycache__/
sample-tracking-api/app/lims_user_config
sample-tracking-api/clientsideconfigs/.DS_Store
sample-tracking-api/logs/*
sample-tracking-api/userutils/__pycache__/
sample-tracking-api/venv/
sample-tracking-frontend/.gitignore
sample-tracking-frontend/README.md
sample-tracking-frontend/public/
sample-tracking-frontend/sample-tracking-frontend.py
sample-tracking-frontend/src/index.css
sample-tracking-frontend/src/serviceWorker.js
sample-tracking-api/database/__pycache__/models.cpython-37.pyc
sample-tracking-api/clientsideconfigs/__pycache__/
